---
import type { CollectionEntry } from 'astro:content';
import Icon from '../Icon.astro';
import LinkWithContent from '../LinkWithContent.astro';

export interface Props {
  work: CollectionEntry<'works'>['data'];
}

const { work } = Astro.props;
---

<div class="p-4 border rounded flex-1">
  <h5 class="text-2xl">
    {work.title}
  </h5>
  <p class="mt-4 ml-4">
    {work.description}
  </p>
  <div class="mt-4 flex flex-wrap gap-4">
    {
      work.libraries.map((lib) => (
        <div class="flex gap-2 items-center">
          <Icon
            pack="simple-icons"
            name={lib.toLowerCase().replaceAll(/\s+/g, '').replace('.', 'dot')}
            size="sm"
          />
          {lib}
        </div>
      ))
    }
  </div>
  <div class="mt-2">
    <LinkWithContent href={`https://github.com/${work.repository}`}>
      <Icon
        name="mdi:github"
        size="md"
      />
      <span>{work.repository}</span>
    </LinkWithContent>
    <LinkWithContent
      href={work.url}
      target="blank"
    >
      <Icon
        name="mdi:link"
        size="md"
      />
      <span>{work.url}</span>
    </LinkWithContent>
  </div>
</div>
