---
import type { CollectionEntry } from 'astro:content';
import Icon from '../Icon.astro';
import LinkWithContent from '../LinkWithContent.astro';

export interface Props {
  work: CollectionEntry<'works'>['data'];
}

const { work } = Astro.props;
---

<div class="flex h-full flex-col gap-3 border rounded px-4 pt-2 pb-4">
  <h4 class="text-xl">
    {work.title}
  </h4>
  <p>
    {work.description}
  </p>
  <div class="flex flex-wrap gap-x-4 gap-y-1">
    {
      work.libraries.map((lib) => (
        <div class="flex items-center gap-2">
          <Icon
            pack="simple-icons"
            name={lib.toLowerCase().replaceAll(/\s+/g, '').replace('.', 'dot')}
            size="sm"
          />
          {lib}
        </div>
      ))
    }
  </div>
  <div class="mt-auto w-full">
    {
      work.repository ? (
        <LinkWithContent
          href={`https://github.com/${work.repository}`}
          content={work.repository}
        >
          <Icon
            pack="mdi"
            name="github"
            size="md"
          />
        </LinkWithContent>
      ) : null
    }
    <LinkWithContent
      href={work.url}
      content={work.url}
      target="blank"
    >
      <Icon
        pack="mdi"
        name="link"
        size="md"
      />
    </LinkWithContent>
  </div>
</div>
