---
import type { CollectionEntry } from 'astro:content';
import Icon from '../Icon.astro';
import LinkWithContent from '../LinkWithContent.astro';

export interface Props {
  work: CollectionEntry<'works'>['data'];
}

const { work } = Astro.props;
---

<div class="flex px-4 py-2 border rounded flex-col h-full gap-3">
  <h4 class="text-xl">
    {work.title}
  </h4>
  <p>
    {work.description}
  </p>
  <div class="flex gap-4 flex-wrap">
    {
      work.libraries.map((lib) => (
        <div class="flex gap-2 items-center">
          <Icon
            pack="simple-icons"
            name={lib.toLowerCase().replaceAll(/\s+/g, '').replace('.', 'dot')}
            size="sm"
          />
          {lib}
        </div>
      ))
    }
  </div>
  <div>
    <LinkWithContent href={`https://github.com/${work.repository}`}>
      <Icon
        name="mdi:github"
        size="md"
      />
      <span>{work.repository}</span>
    </LinkWithContent>
    <LinkWithContent
      href={work.url}
      target="blank"
    >
      <Icon
        name="mdi:link"
        size="md"
      />
      <span>{work.url}</span>
    </LinkWithContent>
  </div>
</div>
